<footer class="footer-distributed">
	<div class="footer-left">
    	<h3 class="mainFooter"><span class="logo-red">Code</span>Breaker</h3>
        <br />
        <p class="footer-company-about">
			<span class="abut_the_company_span">About the Page</span>
			The page was created for the use in N## - Security at IUPUI.<br/>
            The tools on this page should help you by either encrypting
            or<br/>deciphering text that would use: caesar shift, keyword,
            kasiski,<br/>permutation and transposition.
    	</p>
        <br />
    	<p class="footer-company-name">CodeBreaker &#169; 2017 </p>
    </div>
	<div class="footer-right">
		<div>
            <p class="footer-company-about">

    			<span class="abut_the_company_span">About the Developer</span>
    			Carlos Huizar is currently a senior majoring in<br/> Computer
                Science at IUPUI. He is very pasionate<br/>about creating new
                software and using new tools.
        	</p>
		</div>
		<div>
			<i class="fa fa-hand-o-right" aria-hidden="true"></i>
			<p style="font-size:15px;"><span>Site: </span><a style="margin-left:1px;" href="www.carloshuizar.com">carloshuizar.com</a></p>
		</div>
		<div>
			<i class="fa fa-envelope" aria-hidden="true"></i>
			<p class="email_span"><a href="mailto:hire@carloshuizar.com?subject=CodeBreaker">hire<span style="color:white;">@</span>carloshuizar.com</a></p>
		</div>
        <div>
          <p>
            Check out my Github: <a target="_blank" href="https://github.com/cahuizar"><i class="fa fa-github" aria-hidden="true"></i></a>
          </p>
        </div>
	</div>
</footer>
