<div class="row">
    <app-decrypt-header-buttons></app-decrypt-header-buttons>
</div>
<div class="row">
    <div class="padding-top"></div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="a" maxlength="1"  mdInput placeholder="a = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="b" maxlength="1"  mdInput placeholder="b = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="c" maxlength="1"  mdInput placeholder="c = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="d" maxlength="1"  mdInput placeholder="d = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="e" maxlength="1" mdInput placeholder="e = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="f" maxlength="1"  mdInput placeholder="f = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="g" maxlength="1" mdInput placeholder="g = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="h" maxlength="1" mdInput placeholder="h = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="i" maxlength="1" mdInput placeholder="i = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="j" maxlength="1" mdInput placeholder="j = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="k" maxlength="1" mdInput placeholder="k = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="l" maxlength="1" mdInput placeholder="l = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="m" maxlength="1" mdInput placeholder="m = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="n" maxlength="1" mdInput placeholder="n = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="o" maxlength="1" mdInput placeholder="o = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="p" maxlength="1" mdInput placeholder="p = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="q" maxlength="1" mdInput placeholder="q = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="r" maxlength="1" mdInput placeholder="r = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="s" maxlength="1" mdInput placeholder="s = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="t" maxlength="1" mdInput placeholder="t = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="u" maxlength="1" mdInput placeholder="u = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="v" maxlength="1" mdInput placeholder="v = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="w" maxlength="1" mdInput placeholder="w = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="x" maxlength="1" mdInput placeholder="x = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="y" maxlength="1" mdInput placeholder="y = ">
        </md-input-container>
    </div>
    <div class="col-md-1 col-xs-12">
        <md-input-container (change)="PushValue()">
          <input [(ngModel)]="z" maxlength="1" mdInput placeholder="z = ">
        </md-input-container>
    </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-offset-1 col-sm-11">
    <p class="cipher-question padding-top">
      Here is the ciphered text:
    </p>
  </div>
  <div class="col-xs-12">
     <div class="solution center-block">
      <p class="worksheet-solution">{{text}}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-offset-1 col-sm-11">
    <p class="cipher-question padding-top">
      Here is the solution:
    </p>
  </div>
  <div class="col-xs-12">
     <div class="solution center-block">
      <p class="worksheet-solution">{{solution}}</p>
    </div>
  </div>
</div>
