<div class="row">
    <app-encrypt-header-buttons></app-encrypt-header-buttons>
    <div class="col-xs-12">
        <div class="slider-div center-block">
            <md-card>
              <md-card-content>
                  <p class="cipher-title">
                      Transpose
                  </p>
                  <p class="cipher-description">
                      <b>Description -</b> This cipher algorithm will use a transpose algorithm.
                  </p>
                  <p class="cipher-question">
                      Slect the column size of your matrix
                  </p>
                  <div class="center-aligned">
                      <md-select placeholder="# of Columns" [(ngModel)]="selectedValue" name="numColumns" (change) = "Calculate()" >
                            <md-option *ngFor="let column of numColumns" [value]="column.value">
                              {{column.viewValue}}
                            </md-option>
                    </md-select>
                    </div>
                    <div class="center-aligned">
                        <button md-raised-button class="home-button" routerLink="/encrypted">Submit</button>
                    </div>
                </md-card-content>
            </md-card>
        </div>

    </div>
</div>
