<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-10">
    <h2 class="solution-header">
     Here is the solution:
    </h2>
  </div>
  <div class="col-xs-12">
    <div class="div-solution center-block">
      <p class="solution">{{_solution}}</p>
    </div>
    <div class="text-center">
      <p>
        Check out the repo for the code: <a target="_blank" href="https://github.com/cahuizar/CodeBreaker"><i class="fa fa-github solution-github-icon" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>
</div>
