@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.logo{
    cursor: pointer;
}

.logo, .nav-background{
    height: 150px;
    width: 150px;
}

.nav-background{
    -webkit-filter: blur(6px);
    filter: blur(6px);
    background-color: #EAECF0;
    position: absolute;
    width: 100%;
}

.form-control{
    width: 75%;
    margin-top: 50px;
    font-size: 22px;
}

.mat-raised-button{
    background-color: #d63636;
    color: white;
    margin-top: 20px;
}
a{
    color: black;
    text-decoration: none;

}
a:hover{
    color: red;
    text-decoration: none;
}
button.mat-raised-button {
    color: white;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

button.home-button{
    width: 150px;
    height: 60px;
}

.ciphers{
    display: block;
    margin: auto;
    width: 60%;
    max-width: 257px;
    padding-top:70px;
}
img.cipher-img{
    height: 200px;
}

.mat-fab, .mat-mini-fab {
    color: rgba(255, 255, 255, 0.9);
    background-color: #d63636;
}
.mat-fab:hover{
    color: white;
}

.home-icon{
    margin-top: 30px;
    padding-left: 10px;
}

.heading-ciphers{
    padding-top: 60px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #d63636;
}

.slider-div{
    width: 40%;
    padding-top: 60px;
}
md-slider{
    width: 100%;
}

.cipher-title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #d63636;
}
.cipher-description{
    font-size: 16px;
}

.center-aligned{
    text-align: center;
}

.mat-slider-thumb, .mat-slider-thumb-label, .mat-slider-track-fill {
    background-color: #d63636;
}
.mat-sidenav, .mat-slider-thumb-label-text, .mat-toolbar {
    color: white;
}

.cipher-question{
    font-weight: bold;
}

md-input-container{
    width: 70%;
}

.mat-input-underline .mat-input-ripple {
    background-color : #d63636;
}


/* footer */
.footer-distributed {
    background-color: #d63636;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 69%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    margin: 0;
    font-weight:500;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-company-name {
    color: #ff867d;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.footer-distributed .footer-right i {
    background-color: #FF665B;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-right i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
    color: white;
}
.footer-distributed .footer-right i.fa-facebook-square {
    font-size: 17px;
    line-height: 38px;
    color: white;
}

.footer-distributed .footer-right p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-right p .address_span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-right p a {
    color: #FF665B;
    text-decoration: none;
    ;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: white;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.abut_the_company_span {
    color: #ff867d !important;
}

.email-span {
    color: #FF665B !important;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.logo-red{
    color: #FF665B;
}

.solution-header{
    margin-top: 40px;
}

p.solution{
    font-size: 22px;
    text-align: center;
    padding: 30px;
}
.div-solution{
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    border: 1px solid #000000;
    width: 50%;
}

.solution-github-icon{
    font-size:40px;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
    .slider-div{
        width: 90%;
    }
}
