<div class="row">
    <div class="col-xs-12 textarea">
        <textarea class="form-control center-block" name="name" rows="15" placeholder="Enter the text you want to encrypt or decipher..."></textarea>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-3 col-xs-3 col-sm-offset-4 col-sm-2 col-md-offset-5 col-md-1">
        <button md-raised-button class="home-button">Encrypt</button>
    </div>
    <div class="col-sm-offset-1 col-xs-2 col-md-offset-0 col-md-1">
        <button md-raised-button class="home-button">Decrypt</button>
    </div>
</div>
